@font-face {
    font-family: 'MyCustomFont';
    src: url('Chalkduster.ttf') format('truetype');
}

body{
    background-color: #363939;
    background-image: url("images/beanstalk-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'MyCustomFont';
    margin : 0;
    padding : 0;
    overflow: hidden;
    height: 100vh;
}

.container-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    padding-left : 3.5%;
    padding-right : 3.5%;
    display: flex;
    padding-top: 2.5vh;
    justify-content: space-around;
    /* position : relative; */
    z-index: 1;
    height : 94.5vh;
}

.wood-image{
    width : 100%;
    z-index: 0;
    height: 3vh;
    /* position : absolute;
    bottom : 0;
    z-index: 0;
    height: 3vh; */
}

.bean-logo{
    width: 40%;
}

.phone-icon{
    margin-right : 10px;
}

.swiggy-logo{
    width: 40%;
    cursor: pointer;
    /* margin-top: -5%; */
    /* transition: transform 0.3s ease-in-out; */
    animation: scaleAnimation 0.5s infinite alternate;
}



@keyframes scaleAnimation {
    0% {
        transform: scale(1); /* Initial scale */
    }
    100% {
        transform: scale(1.1); /* Scale by 10% */
    }
}

.swiggy-logo:hover {
    animation-play-state: paused;
}

.left-content{
    /* padding-left: 5%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap : 6%; */
    width : 50%;
    /* justify-content: space-around; */
    gap : 2rem;
}
.right-content {
    text-align: center;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
}
h1{
    color : #85AD2C;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    /* margin: 0; */
}

.message-content{
    color : #fff;
    font-size: 1.8rem;
    margin: 0;
}

.coming-soon{
    font-size: 1.8rem;
    color : #fff;
}

.contact-us{
    font-size: 1.5rem;
    color : #fff;
    margin: 0;
}

.number{
    font-size: 1.8rem;
    color : #85AD2C;
    margin: 0;
    margin-top: 0.3rem;
}


.swiggy-mini{
    position: relative;
    top : 30%;
}

.swiggy-mini p{
    font-size: 1.2rem;
    color : #fff;
    margin-bottom: 0.3rem;
}

a{
    text-decoration: none;
    color : #85AD2C;
}

.contact{
    width : 60%;
    margin-top: 2rem;
}

.soon{
    color : #85AD2C;
}

.basket-image {
    width: 100%;
    z-index: 1;
    /* margin-bottom: 1vh; */
    /* padding-bottom: 5vh; */
    /* position : relative; */
    /* bottom : -15%; */
    /* top : 20%; */
    /* position: absolute;
    bottom : -2%;
    right : 2%;
    z-index: 1; */
}

@media (max-width : 1024px){
    body{
        background-image: url("images/beanstalk-background.jpg");
        background-size: cover;
        overflow-y: scroll;
        min-height: 100vh;
        height: 100%;
    }
    .content{
        flex-direction: column;
        /* justify-content: space-between; */
        /* gap : space; */
        justify-content: space-between;
        /* height: 98vh; */
        margin-top: 0;
        padding-top: 0;
        min-height: 97vh;
        height: 97%;
        /* gap : 1.5rem; */
    }
    .left-content{
        padding-left: 0;
        width : 100%;
        text-align: center;
        /* gap : 2rem; */
        line-height: 1.5;
        height : 100%;
        justify-content: space-around;
    }
    .contact{
        width : 100%;
        margin-top: 0;
    }
    .right-content{
        max-width: 100%;
        height: 100%;
        justify-content: end;
        gap: 1vh;
    }

    .bean-logo{
        margin-top: 5%;
    }

    h1{
        font-size: 2rem;
        margin-top: 1%;
        margin-bottom: 4%;
    }

    .message-content{
        color : #fff;
        font-size: 1rem;
        margin: 0;
        padding : 0 0.5rem;
    }
    .soon{
        display: block;
    }

    .contact-us{
        font-size: 1rem;
    }
    .number{
        font-size: 1.3rem;
    }

    .wood-image{
        /* height: 3%; */
        /* position : relative; */
        /* bottom : 3.5rem; */
    }

    .basket-image{
        /* position : relative;
        top : 1.6rem; */
        /* position: absolute;
        bottom: -1%;
        left: 50%;
        transform: translateX(-50%); */
        width: 20rem; /* Adjust width as needed */
        z-index: 1;
        margin-bottom: -3%
        /* padding-bottom: 1vh; */
    }

    .swiggy-mini{
        top: 0;
    }


    .swiggy-mini p{
        padding-top: 0;
        margin-top: 0;
    }
    
}
